<% if @csv_upload_reports.present? %>
  <h3> Reports </h3>
  <table class="table table-striped w-50">
    <tbody>
      <% @csv_upload_reports.each do |upload_report| %>
        <tr>
          <td><%= upload_report.created_at %></td>
          <td><%= link_to 'Download', rails_blob_path(upload_report.report, disposition: "attachment") %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>