<%= form_tag(bulk_uploads_path, multipart: true) do |form| %>
  <div class="jumbotron">
    <h1 class="display-4">Bulk Upload</h1>
    <p class="lead">Upload a csv file with the following headers email, first_name, last_name, phone_number </p>
    <hr class="my-4">
    <p> A report will be generated post processing the CSV file.
    The status, error mesage are present for individual records.
    Fix the errors if applicable and reupload the same file again.
    record_id is present in the output file for verification purposes.
    Records with record_id will not be processed, as they are already present in the system.
    </p>
    <p><b>Note:</b> Do not upload a file with more than 100 records.</p>
    <p class="lead">
      <%= file_field_tag "file", required: true %>
      <br/>
      <br/>
      <%= submit_tag "Upload", class: "btn btn-light btn-lg border-black" %>
    </p>
  </div>
<% end %>

<%= render "reports" %>
