<div class="navbar navbar-light bg-light">
  <b><div><%= link_to 'Home', root_url %></div></b>
  <b><div> <%= link_to 'Contact Manager', contacts_path %> </div></b>
  <% if current_user %>
    <b><%= link_to "Sign out", destroy_user_session_path, method: :delete %></b>
  <% else %>
    <b><%= link_to "Login", user_session_path %></b>
  <% end %>
</div>