<br>
<br>
<br>
<br>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple application to manage your Contacts</p>
  <hr class="my-4">
  <p></p>
  <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-light btn-lg border-black" %>
</div>