<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tbody>
    <tr>
      <td><strong>First Name</strong></td>
      <td><%= @contact.first_name %></td>
    </tr>
    <tr>
      <td><strong>Last Name</strong></td>
      <td><%= @contact.last_name %></td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td><%= @contact.email %></td>
    </tr>
    <tr>
      <td><strong>Phone Number</strong></td>
      <td><%= @contact.phone_number %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
