$primary-color: #F8F9FA;

.set-layout-padding {
  padding-left: 5%;
  padding-right: 5%
}

.navbar {
  padding: 2%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: none;
  color: black;
}

.border-black {
  border-color: black;
  background-color: $primary-color;
}